.nav-with-icon-wrapper clr-icon {
  position: relative;
  transform: none;
  top: 0;
  left: 0;
}

.nav-with-icon-wrapper {
  display: flex;
  align-items: center;
}

.nav-with-icon-wrapper .text {
  position: relative;
}

/* simplify in app to
.nav-with-icon-wrapper {
  display: flex;
  align-items: center;
  .text {
      position: relative;
  }
  clr-icon  {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
  }
} */


.nav-with-icon-wrapper--superscript {
  position: relative;
}

.nav-with-icon-wrapper--superscript, clr-icon {
  left: inherit;
  right: 0;
}