<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Project Clarity</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="..." class="active nav-link">
          <span class="nav-text">
            <div class="nav-with-icon-wrapper">
              <clr-icon shape="check"></clr-icon>
              <span class="text">Dashboard</span>
            </div>
          </span>
        </a>
        <a href="..." class="nav-link"><span class="nav-text">
          <span class="nav-text">
            <div class="nav-with-icon-wrapper--superscript">
              <clr-icon shape="check"></clr-icon>
              <span class="text">Interactive Analytics</span>
            </div>
          </span>
          </span></a>
    </div>
</header>